/* temporary styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

h2	{
  font-weight: 900;
  font-size: 32px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  margin-bottom: 30px;
}

/* end temporary styles */

.textbook {
  font-family: 'Roboto', sans-serif;
}

.textbook .title {
  margin-bottom: 15px;
}

