/* temporary styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

h2	{
  font-weight: 900;
  font-size: 32px;
}

.btn {
  background-color: transparent;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 30px;
}

.header {
  margin-bottom: 30px;
}

/* end temporary styles */

.textbook {
  font-family: 'Roboto', sans-serif;
}

.title {
  margin-bottom: 15px;
}

.book-page-wrapper {
  position: relative;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 800px;
  border: 2px solid transparent;
}

.a-level-group {
  display: block;
}

.learned {
  padding-bottom: 45px;
  border: 2px solid #e8e6e3;
  border-radius: 10px;
}

.learned-message {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: none;
}

.learned .learned-message {
  position: absolute;
  bottom: 5px;
  left: 15px;
  display: block;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}

