.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin-top: 120px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 0 150px 0;
}

.wave {
  margin-top: -220px;
  position: relative;
  left: 0;
  top: 71px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}