.footer {
  background-color: transparent;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px
}

.content {
  padding-left: 160px;
  margin: 15px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.logo {
  width: 100px;
}

.developer {
  display: flex;
  gap: 7px;
}

.github {
  max-width: 100%;
  width: 15px;
  height: auto;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(to left, #189883 0%, #1AB69D 76%);
  color: #F3F2F1;
  padding: 5px 10px;
  border-radius: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 50%);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: -2em;
}