/* temporary styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
html {
  font-size: 10px;
}

body {
  background-color: #fafafa;
  font-size: 1.6rem;
  font-family: 'Roboto', Verdana, sans-serif;
  color: var(--color-text-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  background-color: transparent;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;
}


/* end temporary styles */

.games-page {
  background: url(../../assets/images/cta.png);
  background-size: cover;
  background-color: #F8B81F;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.games-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.games-container::before,
.games-container::after {
  content: '';
  position: absolute;
  width: 190px;
  height: 190px;
}

.games-container::before {
  left: 0;
  top: 0;
  background: url(../../assets/images/shape-13.png) no-repeat;
  animation: rotate-right 10s linear infinite;
}

.games-container::after {
  bottom: 0;
  right: 0;
  background: url(../../assets/images/shape-16.png) no-repeat;
  animation: rotate-left 10s linear infinite;
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}