.game {
  width: 320px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #F3F2F1;
  overflow: hidden;
  cursor: pointer;
}

.game:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.game.disabled {
  color: #D6D3D3;
  cursor: auto;
}

.game.disabled:hover {
  box-shadow: none;
}

.game-name {
  margin-bottom: 15px;
  font-size: 24px;
}

.game-description {
  margin-bottom: 25px;
}

.game-img {
  width: 100%;
  align-self: center;
}

.game.disabled .game-img {
  filter: grayscale() opacity(0.3);
}