.presentation {
  background-color: var(--bg-color-4)
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.presentation__wrapper {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

iframe {
  width: 1120px;
  height: 630px;
  border: none;
}