@import './../textbook-cards/textbook-cards.module.css';

.words-grid {
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  width: 190px;
  height: 100px;
  padding: 15px 10px;
  flex-direction: column;
  gap: 3px;
  border-radius: 10px;
  color: #292623;
  background-color: #F3F2F1;
  overflow: hidden;
}

.words-grid .card:hover {
  cursor: pointer;
  transition: background-color 0.3s;
}

:global(.a1-level-group) .card:hover,
:global(.a1-level-group) .card.active {
  background-color: #1AB69D;
}

:global(.a2-level-group) .card:hover,
:global(.a2-level-group) .card.active {
  background-color: #189883;
}

:global(.b1-level-group) .card:hover,
:global(.b1-level-group) .card.active {
  background-color: #F8B81F;
}

:global(.b2-level-group) .card:hover,
:global(.b2-level-group) .card.active {
  background-color: #df9e07;
}

:global(.c1-level-group) .card:hover,
:global(.c1-level-group) .card.active {
  background-color: #FE595D;  
}

:global(.c2-level-group) .card:hover,
:global(.c2-level-group) .card.active {
  background-color: #fe1b1e;  
}

@media (max-width: 1100px) {

  .words-grid {
    grid-template-columns: repeat(3, 170px);
  }
}