.textbook .words-grid {
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.textbook .card {
  display: flex;
  width: 190px;
  height: 100px;
  padding: 15px 10px;
  flex-direction: column;
  gap: 3px;
  border-radius: 10px;
  color: #292623;
  background-color: #F3F2F1;
  overflow: hidden;
}

.textbook .card:hover {
  cursor: pointer;
  transition: background-color 0.3s;
}

.textbook .a-level-group .card:hover {
  background-color: #FE595D;
}

.textbook .b-level-group .card:hover {
  background-color: #F8B81F;
}

.textbook .c-level-group .card:hover {
  background-color: #1AB69D;
}

@media (max-width: 1100px) {

  .textbook .words-grid {
    grid-template-columns: repeat(3, 170px);
  }
}