.title {
  font-size: 34px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
}

.registration-link {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  transition: all 0.3s ease-in-out;
  margin: 0 5px;
}

.registration-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

.registration-link:hover {
  color: #f8b720;
  cursor: pointer;
}

.registration-link:hover .registration-line {
  background-color: #f8b720;
}