.pagination {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.pagination-wrapper {
  display: flex;
  gap: 10px;
}

.round-btn {
  width: 34px;
  height: 34px;
  padding: 7px;
  border-radius: 17px;
  overflow: hidden;
  cursor: pointer;
  background-color: #F3F2F1;
}

.round-btn:hover {
  background-color: #e8e6e3;
}

.round-btn:disabled,
.round-btn:disabled:hover {
  background-color: transparent;
  cursor: auto;
}

:global(.level-group-0) .round-btn.active {
  background-color: #1AB69D;
}

:global(.level-group-1)  .round-btn.active {
  background-color: #189883;
}

:global(.level-group-2) .round-btn.active {
  background-color: #F8B81F;
}

:global(.level-group-3) .round-btn.active {
  background-color: #df9e07;
}

:global(.level-group-4) .round-btn.active {
  background-color: #FE595D;
}

:global(.level-group-5) .round-btn.active {
  background-color: #fe1b1e;
}

.round-btn.active.learned {
  border: 1px solid #808080;
  outline: 3px solid #D6D3D3;
}