.game-settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
}

.close-game-wrapper,
.fullscreen-mode-wrapper,
.volume-controls-wrapper,
.about-game-wrapper {
  width: 20px;
  height: 20px;
}

.close-game,
.about-game,
.volume-controls,
.fullscreen-mode,
.volume-controls-muted,
.fullscreen-mode-active {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.close-game {
  background-image: url(../../../../assets/icons/cancel.png);
}

.about-game {
  background-image: url(../../../../assets/icons/question-mark.png);
}

.volume-controls {
  background-image: url(../../../../assets/icons/volume.png);
}

.fullscreen-mode {
  background-image: url(../../../../assets/icons/expand.png);
}

.volume-controls-muted {
  background-image: url(../../../../assets/icons/mute.png);
}

.fullscreen-mode-active {
  background-image: url(../../../../assets/icons/full-screen-exit.png);
}

.close-game:active,
.volume-controls:active,
.fullscreen-mode:active,
.volume-controls-muted:active,
.fullscreen-mode-active:active {
  transform: scale(0.7);
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  /* change color #fafafa */
  background-color: #F3F2F1;
  /* change color */
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 150%;
  opacity: 0;
  transition: opacity 1s;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 40%;
  right: 100%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  /* change color #fafafa*/
  border-color: transparent #F3F2F1 transparent transparent;
  /* change color */
}

.about-game:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 630px) {
  .game-settings {
    margin-top: 150px;
    flex-direction: row;
    justify-content: center;
  }
  .tooltiptext {
    left: 50%;
    margin-top: -80px;
    margin-left: -100px;
  }
  .tooltiptext::after {
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-color: #F3F2F1 transparent transparent transparent;
  }
}