.advantagies {
  margin: 40px auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px
}

.title {
  margin: 90px auto;
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 680px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}