.container {
  display: flex;
  padding: 20px 30px;
  width: 100vw;
  height: 100vh;
}

.game-settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
}

.close-game,
.volume-controls,
.fullscreen-mode {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.close-game {
  background-image: url(./../../../assets/icons/cancel.png);
}

.volume-controls {
  background-image: url(./../../../assets/icons/volume.png);
}

.volume-controls.muted {
  background-image: url(./../../../assets/icons/mute.png);
}

.fullscreen-mode {
  background-image: url(./../../../assets/icons/expand.png);
}

.fullscreen-mode.active {
  background-image: url(./../../../assets/icons/full-screen-exit.png);
}

.close-game:active,
.volume-controls:active,
.fullscreen-mode:active {
  transform: scale(0.7);
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-right: 20px;
}

.game-statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.timer {
  position: relative;
  padding: 13px;
  border: 2px solid #F8B81F;
  border-radius: 50%;
  font-size: 20px;
  color: #000000;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.timer-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 54px;
  height: 54px;
  background-color: #F8B81F;
  animation: slide-down 60s linear infinite;
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

.timer-item {
  position: relative;
  font-weight: 500;
  z-index: 10;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 85px;
  border: 2px solid #F8B81F;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  gap: 50px;
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: #F3F2F1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.right-answers-counter {
  display: flex;
  gap: 15px;
}


.counter-mark {
  position: relative;
  width: 30px;
  height: 30px;
}

.counter-check-mark {
  width: 30px;
  height: 30px;
  background-image: url(./../../../assets/icons/check.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.counter-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(242, 242, 242, 0.8);
}

.counter-shadow.disabled {
  background-color: transparent;
}

.word {
  font-size: 42px;
  font-weight: 700;
}

.word-translation {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.control-btns-container {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.right-answer-btn,
.wrong-answer-btn {
  height: 42px;
  width: 140px;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.right-answer-btn:hover,
.wrong-answer-btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.wrong-answer-btn {
  background-color: #fe595d;
}

.right-answer-btn {
  background-color: #1ab69d;
}